div {
    border: 20px solid #bdc3c7;
    width: 60%;
    padding: 30px;
    margin: auto;
    font-family: "Source Sans Pro";
}

p {
    padding-bottom: 3x;
}

h3 {
    color: #3498db;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
}

h2 {
    color: #2c3e50;
}

.borderbot {
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 20px;
}

.borderleft {
    border-left: 3px solid #bdc3c7;
    padding-left: 5px;
}